/* CSS Styles for whole Website */
.App {
  background-image: linear-gradient(#fff, rgb(226, 230, 255));
}
.NavFixed {
  position: sticky;
}
.bodyMain {
  position: relative;
  display: block;
}
.navbar {
  background-color: #124265;
  /*background-color: white;*/
}
.bodyMain::before {
  content: "";
  position: absolute;
  /*height: 100vh;
  min-height: 100%;*/
  background-image: linear-gradient(190deg, #fff, #e2f1ff);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100vh;
  z-index: -3;
}
.backPath {
  position: relative;
  display: block;
}

.backPath::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right bottom,
    #90bfe3,
    #9dc4e7,
    #aacaeb,
    #b6cfef,
    #c1d5f2,
    #c6dbf4,
    #cce1f6,
    #d3e7f8,
    #daeef9,
    #e2f4fa,
    #edfafc,
    #f8ffff
  );
  top: -100px;
  right: 0;
  left: 0;
  width: auto;
  height: 810px;
  z-index: -3;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 56%,
    2% 55.98%,
    4% 55.93%,
    6% 55.85%,
    8% 55.73%,
    10% 55.58%,
    12% 55.4%,
    14% 55.18%,
    16% 54.94%,
    18% 54.67%,
    20% 54.37%,
    22% 54.05%,
    24% 53.71%,
    26% 53.34%,
    28% 52.96%,
    30% 52.55%,
    32% 52.14%,
    34% 51.71%,
    36% 51.27%,
    38% 50.83%,
    40% 50.38%,
    42% 49.92%,
    44% 49.47%,
    46% 49.02%,
    48% 48.58%,
    50% 48.15%,
    52% 47.72%,
    54% 47.31%,
    56% 46.91%,
    58% 46.53%,
    60% 46.18%,
    62% 45.84%,
    64% 45.52%,
    66% 45.24%,
    68% 44.97%,
    70% 44.74%,
    72% 44.54%,
    74% 44.37%,
    76% 44.23%,
    78% 44.12%,
    80% 44.05%,
    82% 44.01%,
    84% 44%,
    86% 44.03%,
    88% 44.09%,
    90% 44.19%,
    92% 44.32%,
    94% 44.48%,
    96% 44.67%,
    98% 44.89%,
    100% 45.15%
  );
  /*clip-path: ellipse(1400px 420px at 50vw 200px);*/
}

.mainPage {
  position: relative;
  left: 0;
  width: 100%;
  /*background-image: linear-gradient(#fff, rgb(226, 230, 255));*/
  /*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/
}
.textView {
  width: 65vh;
}
.viewCard {
  background-color: #fff;
  width: 350px;
  padding: 20px;
  height: 35vh;
}
.iconImg1 {
  width: 35px;
  height: 35px;
  background: #ffff;
  color: #16a085;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
}
.cardText {
  font-size: 20px;
  color: rgb(155, 155, 155);
}

.h1head {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
}
.paraLast {
  font-size: 1.5em;
  width: 800px;
  color: #000;
  text-align: center;
}
.h2head {
  color: #000;
  text-align: center;
}
.h3head {
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  text-align: center;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.nameAbout {
  text-align: center;
  font-weight: bold;
  color: #000;
}
.textAbout {
  color: grey;
  font-size: 20px;
}
.para {
  color: #8989a2;
  font-family: Metropolis;
  font-size: 18px;
  width: 50vh;
}
.mainPara {
  width: 500px;
}
.loginText {
  text-align: center;
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}
.head-flex {
  height: 650px;
}
.divLogin {
  padding: 250px;
}
.loginBack {
  position: absolute;
  width: 508px;
  height: 503px;
  left: 896px;
  top: 202px;
  border-radius: 5px;
  background-color: #f9f0ff;
}
.loginF {
  position: absolute;
  width: 410px;
  height: 503px;
  left: 950px;
  top: 160px;
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgb(197, 197, 197);
}

.form-outline {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
}
.btnLogin {
  width: 90%;
}
.logText {
  color: rgb(126, 126, 126);
}
.Llink {
  color: #124265;
  text-decoration: underline;
}
.footer {
  height: 90vh;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.logo-img-footer {
  margin: 50px;
  margin-top: 10px;
  width: 40px;
  height: 50px;
}

.d-block2 {
  width: 25px;
  height: 25px;
}
.paraFooter {
  width: 200px;
  text-align: justify;
  margin-right: 20px;
}

/*
.User-list {
  background-image: linear-gradient(
    to right bottom,
    #124265,
    #1a5c83,
    #2278a1,
    #2a96be,
    #33b4db
  );
}*/

.About2 {
  direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  background: #16a085;
}

.Navbar {
  overflow: hidden;
  transition: 0.3s ease;
  width: auto;
  height: 100px;
}

.Navbar img {
  opacity: 100;
  transition: 0.3s ease-in;
}

.Navbar.fixed {
  transition: 0.2s ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  opacity: 100;
  height: 60px;
}

.Navbar.fixed img {
  opacity: 0;
  transition: 0.2s ease-out;
}

.Card-default {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Card-mobile {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.Card-mobile img {
  margin-top: 15px;
  width: 30vh;
  height: auto;
}

.About-text {
  font-size: 20;
  width: 50vh;
  color: "#9b9b9b";
  margin-top: 4;
}

.About-textmobile {
  font-size: 16;
  text-align: center;
}

.Footer {
  background-color: #bdbdda;
}