/* CSS Styles for whole Website */
.App {
  background-image: linear-gradient(#fff, rgb(226, 230, 255));
}
.NavFixed {
  position: sticky;
}
.bodyMain {
  position: relative;
  display: block;
}
.navbar {
 background-color: #124265;
 /*background-color: white;*/
}
.bodyMain::before {
  content: "";
  position: absolute;
  /*height: 100vh;
  min-height: 100%;*/
  background-image: linear-gradient(190deg, #fff, #e2f1ff);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100vh;
  z-index: -3;
}
.backPath {
  position: relative;
  display: block;
}
.backPath::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(190deg, #f9f0ff, #e2f1ff);
  clip-path: polygon(0 20%, 100% 0%, 100% 76%, 0% 100%);
  top: 2850px;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 80vh;
  z-index: -3;
}
.mainPage {
  top: 1;
  position: relative;
  left: 0;
  width: 100%;

  /*background-image: linear-gradient(#fff, rgb(226, 230, 255));*/
  /*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/
}
.textView {
  width: 65vh;
}
.viewCard {
  background-color: #fff;
  width: 350px;
  padding: 20px;
  height: 35vh;
}
.iconImg1 {
  width: 35px;
  height: 35px;
  background: #ffff;
  color: #16a085;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
}
.cardText {
  font-size: 20px;
  color: rgb(155, 155, 155);
}
.navText {
  color: white;
  font-size: large;
}
.navbar-brand {
  width: 50px;
  height: 50px;
}
.navText:hover {
  color: #9bf6ff;
}
.h1head {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
}
.paraLast {
  font-size: 1.5em;
  width: 800px;
  color: #000;
  text-align: center;
}
.h2head {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
}
.h3head {
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  text-align: center;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.nameAbout {
  text-align: center;
  font-weight: bold;
  color: #000;
}
.textAbout {
  color: grey;
  font-size: 20px;
}
.para {
  color: #8989a2;
  font-family: Metropolis;
  font-size: 18px;
  width: 50vh;
}
.mainPara {
  width: 500px;
}
.loginText {
  text-align: center;
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}
.head-flex {
  height: 650px;
}
.divLogin {
  padding: 250px;
}
.loginBack {
  position: absolute;
  width: 508px;
  height: 503px;
  left: 896px;
  top: 202px;
  border-radius: 5px;
  background-color: #f9f0ff;
}
.loginF {
  position: absolute;
  width: 410px;
  height: 503px;
  left: 950px;
  top: 160px;
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgb(197, 197, 197);
}

.form-outline {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
}
.btnLogin {
  width: 90%;
}
.logText {
  color: rgb(126, 126, 126);
}
.Llink {
  color: #124265;
  text-decoration: underline;
}
.footer {
  background-color: #fbfcff;
  height: 40vh;
}
.logo-img-footer {
  margin: 50px;
  margin-top: 10px;
  width: 40px;
  height: 50px;
}

.d-block2 {
  width: 25px;
  height: 25px;
}
.paraFooter {
  width: 200px;
  text-align: justify;
  margin-right: 20px;
}

.User-list {
  background-image: linear-gradient(
    to right bottom,
    #124265,
    #1a5c83,
    #2278a1,
    #2a96be,
    #33b4db
  );
}
